Django==1.6.5
backports.ssl-match-hostname==3.4.0.2
dj-database-url==0.3.0
dj-static==0.0.5
django-registration==1.0
django-toolbelt==0.0.1
djangorestframework==2.3.14
gunicorn==19.0.0
iso8601==0.1.10
psycopg2==2.5.3
pystache==0.5.4
recurly==2.2.2
six==1.7.3
static==1.0.2
wsgiref==0.1.2
